#product-form {
  max-width: 600px;
  animation: fadeIn 1s ease-in-out;
}

.form-label {
  font-weight: 600;
  color: #333;
}

.form-control {
  border: 2px solid #ced4da;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  box-shadow: 0 0 15px rgba(0, 91, 187, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Стилизация select */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  appearance: none; /* Убирает стандартные стрелки в некоторых браузерах */
  -webkit-appearance: none; /* Для WebKit браузеров */
  -moz-appearance: none; /* Для Firefox */

  /* Добавляем кастомные стрелки */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23444" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
}

/* Стилизация option */
select option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* При наведении */
select option:hover {
  background-color: #f0f0f0;
}

/* При выборе */
select option:checked {
  background-color: #007bff;
  color: #fff;
}
