/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cdk-overlay-connected-position-bounding-box {
  display: flex !important;
  justify-content: center !important;
  background-color: #ffffff !important;
  position: relative;
  z-index: 999 !important;
}

mat-option:hover {
  background: aliceblue !important;
}

.mdc-floating-label {
  padding-top: 10px;
}

.mdc-floating-label {
  padding-top: 15px !important;
}
