<!-- <div *ngIf="info.token; else loggedOut" class="welcome-block">
  <h5 class="welcome-title">Hello, Home!</h5>
  <p class="user-info">
    <strong>Username: </strong> {{info.username}} <br/>
    <strong>Roles:</strong> {{info.roles}} <br/>
    <strong>Token:</strong> {{info.token}} <br/>
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div> -->
<div *ngIf="info.token; else loggedOut" class="dashboard-container">

  <div class="main-content">
    <header class="dashboard-header">
      <h2>My Profile</h2>
      <p>Welcome to online store</p>
      <div class="user-info-header">
        <!-- <img src="user-profile.jpg" alt="User profile" class="user-avatar"> -->
        <span>Hello, {{info.username}}</span>
      </div>
    </header>

    <div class="dashboard-cards">
      <div class="profile-card">
        <div class="profile-header">
          <!-- <img src="user-profile.jpg" alt="User profile" class="profile-avatar"> -->
          <h3>{{info.username}}</h3>
          <p>{{info.email}}</p>
        </div>
        <div class="profile-info">
          <p><strong>Phone:</strong> {{info.phone}}</p>
          <p><strong>Token:</strong> {{info.token}}</p>
          <button class="btn btn-secondary logout-btn" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <!-- <app-main-home></app-main-home> -->
  <!-- <div>Please login.</div> -->
</ng-template>
